VITE_BACKEND_PROVIDER=service
VITE_API_GATEWAY_URL=http://localhost:80
VITE_AUTH_SERVICE_URL=http://localhost:8080
VITE_ACADEMIC_SERVICE_URL=http://localhost:8080
VITE_STATISTICS_SERVICE_URL=http://localhost:8081